@use '../HowItWorks.module.sass' as c
  
.homeHeroSection
  @include c.paddingPage

  padding: 60px 0
  background: #fbfbff

  .homeHeroContainer
    max-width: 1040px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    column-gap: 40px

    @media (max-width: 1200px)
      max-width: 960px
      column-gap: 20px

    @media (max-width: 992px)
      max-width: 720px
      padding: 20px
      flex-direction: column-reverse
      row-gap: 30px

    @media (max-width: 768px)
      max-width: 540px

    .textBlock
      flex: 1

      @media (max-width: 992px)
        text-align: center

      .tag
        display: inline-block
        margin-bottom: 10px
        padding: 7px 15px
        color: #377dff
        font-size: 12px
        line-height: 21px
        letter-spacing: .6px
        border-radius: 20px
        background: rgba(55, 125, 255, 0.1)

      .title
        margin-bottom: 20px
        color: #19184A
        font-size: 40px
        font-weight: 700

      .desc
        color: rgba(25, 24, 74, 0.5)
        font-size: 16px
        line-height: 1.5

    .videoBlock
      flex: 1

      @media (max-width: 992px)
        width: 100%

      .videoElement
        position: relative
        width: 100%
        padding-top: 56.25%
        overflow: hidden
        border-radius: 16px
        border-bottom: 3px solid #637cf7

        iframe
          position: absolute
          top: 0
          width: 100%
          height: 100%
          border: none

