.offerContainer
  .emptyNotification
    margin-top: 30px
    font-size: 24px
    font-weight: 500
    color: #4e618d
    text-align: center
  
  .offersList
    display: flex
    flex-direction: column
    row-gap: 20px
