@mixin paddingPage
  padding-left: 50px
  padding-right: 50px

  @media (max-width: 992px)
    padding-left: 30px
    padding-right: 30px

  @media (max-width: 768px)
    padding-left: 20px
    padding-right: 20px

  @media (max-width: 576px)
    padding-left: 12px
    padding-right: 12px