.labelTitle
  display: inline-block
  font-size: 19px
  color: #585859
  font-weight: 700
  margin-top: 12px
  margin-bottom: 10px

.input
  width: 100%
  padding: 16.5px 14px
  box-sizing: border-box
  box-shadow: none
  display: flex
  align-items: center
  font-size: 18px
  background-color: white
  border: 2px solid #d0d0d0
  border-radius: 4px
  cursor: text
  outline: none
  color: #555
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  @media(max-width: 700px)
    width: 100%

  &:focus
    border: 2px solid #28d2d0

.inputContainer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  flex: 1


.warning
  font-size: 18px
  display: flex
  justify-content: center
  align-items: center
  border: 2px solid #b72522
  border-radius: 4px
  padding: 3px 20px
  color: #333

.datePickerContainer
  width: 100%
  display: flex
  justify-content: flex-start
  column-gap: 30px
  margin-top: 15px

  @media screen and (max-width: 480px)
    flex-direction: column
    row-gap: 20px

  .datePicker
    background-color: #fff

.buttons
  display: flex
  margin-top: 30px
  column-gap: 30px
  justify-content: flex-end
  align-items: center

  button
    font-size: 20px
    font-weight: 700
    text-align: center
    line-height: 1.4
    color: white
    border: 1px solid transparent
    border-radius: 4px
    transition: all 0.1s ease-in-out
    
    &.addButton
      background-color: #f3875d
      font-size: 24px
      height: 60px
      width: 120px

      &:hover
        font-size: 28px
      
    &.clearButton
      background-color: #888
      height: 50px
      width: 100px

      &:hover
        font-size: 24px