.faqAccordion
  border: 1px solid #f3f5fe
  border-radius: 16px
  transition: all ease .5s
  color: #19184a
  margin-bottom: 16px
  

  &:hover
    border: 1px solid #307DF6

    .faqCaption
      background-color: rgba(48, 125, 246, .1)

      
    
  .faqCaption
    padding: 24px 70px 24px 24px
    font-size: 20px
    position: relative
    font-weight: 700
    cursor: pointer
    border-radius: 16px

    &::before
      width: 25px
      height: 25px
      content: ""
      display: block
      background-repeat: no-repeat
      position: absolute
      top: 50%
      right: 30px
      margin: -12px 0 0 0
      background-image: url(https://www.atom.com/html/html/html/static_images/icon-plus.svg)
      background-position: center center


  .faqContent
    height: 0
    transition: height .3s ease-out
    overflow: hidden

    .text
      padding: 20px 24px 30px 24px
      font-size: 16px
      line-height: 1.5
      font-weight: 400

      ul
        list-style: disc
        margin: 10px 0 0 30px

      a
        color: white

    


.active
  background-color: #307DF6
  border: 0
  color: white !important